.font__size--xs {
    font-size: .5rem;
}

.font__size--sm {
    font-size: .75rem;
}

.font__size--md {
    font-size: 1rem;
}

.font__size--lg {
    font-size: 1.75rem;
}

.font__size--xl {
    font-size: 2.25rem;
}

.font__align--center {
    text-align: center;
}

.font__align--left {
    text-align: left;
}

.font__align--right {
    text-align: right;
}