  .font__fira-code-light {
    font-family: "Fira Code", monospace;
    font-weight: 300;
    font-style: normal;
}
  
  .font__fira-code-regular {
    font-family: "Fira Code", monospace;
    font-weight: 400;
    font-style: normal;
}
  
  .font__fira-code-medium {
    font-family: "Fira Code", monospace;
    font-weight: 500;
    font-style: normal;
}
  
  .font__fira-code-semibold {
    font-family: "Fira Code", monospace;
    font-weight: 600;
    font-style: normal;
}
  
  .font__fira-code-bold {
    font-family: "Fira Code", monospace;
    font-weight: 700;
    font-style: normal;
}
  
  .font__fira-code-thin-italic {
    font-family: "Fira Code", monospace;
    font-weight: 100;
    font-style: italic;
}
  
  .font__fira-code-extralight-italic {
    font-family: "Fira Code", monospace;
    font-weight: 200;
    font-style: italic;
}
  
  .font__fira-code-light-italic {
    font-family: "Fira Code", monospace;
    font-weight: 300;
    font-style: italic;
}
  
  .font__fira-code-regular-italic {
    font-family: "Fira Code", monospace;
    font-weight: 400;
    font-style: italic;
}
  
  .font__fira-code-medium-italic {
    font-family: "Fira Code", monospace;
    font-weight: 500;
    font-style: italic;
}
  
  .font__fira-code-semibold-italic {
    font-family: "Fira Code", monospace;
    font-weight: 600;
    font-style: italic;
}
  
  .font__fira-code-bold-italic {
    font-family: "Fira Code", monospace;
    font-weight: 700;
    font-style: italic;
}  